---
layout: archive
title: "Science communication"
permalink: /communication/
author_profile: true
---


{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for comic in site.comics %}
  {% capture year %}{{ comic.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
